@{
    ViewBag.Title = "Directory";
}
@model Vantage.Models.DirectoryViewModel
@section PageScripts
{
    <script src="@Url.Content("~/Scripts/directory.js")"></script>
}
@section PageStyles
{

}

<div>
    <h1>@ViewBag.Title</h1>
</div>

<div>
    <table id="directory">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-mail</th>
            <th>Initiation</th>
            <th>Phone Number</th>
        </tr>
            @foreach (var s in Model.Members)
            {
                <tr>
                    <td>@s.FirstName</td>
                    <td>@s.LastName</td>
                    <td>@s.Email</td>
                    <td>@s.Initiation</td>
                    <td>@s.PhoneNumber</td>
                </tr>
            }
    </table>
</div>


