@{
    ViewBag.Title = "Duties Sheet";
}
@model Vantage.Models.DutySheetViewModel
@section PageScripts
{
    <script src="@Url.Content("~/Scripts/dutySheet.js")"></script>
}
@section PageStyles
{
    <link href="~/Content/DutySheet.css" type="text/css" rel="stylesheet" />
}

<div>
    <h1>@ViewBag.Title</h1>
</div>

<div>
    <h3>Duties Sheet</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Duty</th>
                <th>Title</th>
                <th>Assignee</th>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
            </tr>
        </thead>
        
        @foreach (var d in Model.Duties)
        {
            <tr title="@d.Description">
                <td>@d.Id</td>
                <td>@d.Title</td>
                <td>@d.AssigneeId</td>
                @for (var i = 0; i < 7; i++)
                {
                    var performanceClasses = "dutyPerformance dutyStatus_" + d.Performance[i];
                    if (i == Model.WeekDay)
                    {
                        performanceClasses += " todaysPerformance";
                    }
                    
                    <td class="@performanceClasses"></td>
                }
                <td></td>
            </tr>
        }
    </table>
</div>