@{
    ViewBag.Title = "Duties Sheet";
}
@model Vantage.Models.DutySheetViewModel
@section PageScripts
{
    <script src="@Url.Content("~/Scripts/dutySheet.js")"></script>
}
@section PageStyles
{
    <link href="~/Content/DutySheet.css" type="text/css" rel="stylesheet" />
}

<div>
    <h1>@ViewBag.Title</h1>
</div>

<div>
    <h3>Duties Sheet</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Duty</th>
                <th>Title</th>
                <th>Assignee</th>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednes</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
            </tr>
        </thead>
        
        @foreach (var d in Model.Duties)
        {
            <tr>
                <td title="@d.Description">@d.Id</td>
                <td title="@d.Description">@d.Title</td>
                <td>@d.AssigneeId</td>
                @for (var i = 0; i < 7; i++)
                {
                    var performanceClasses = "dutyPerformance dutyStatus_" + d.Performance[i];
                    if (i == Model.WeekDay)
                    {
                        performanceClasses += " todaysPerformance";
                    }
                    if (d.Performance[i].ToString() == "Incomplete")
                    {
                        if (i == Model.WeekDay)
                        {
                            <td class="@performanceClasses"><button class="btn btn-default">Done</button></td>
                        }
                        else
                        {
                            <td class="@performanceClasses"><button class="btn btn-default"  disabled>Done</button></td>
                        }
                    }
                    else if (d.Performance[i].ToString() == "Complete")
                    {
                        <td class="@performanceClasses">@d.LastCheckIn.ToString("hh:mm tt")</td>
                    }
                    else
                    {
                        <td class="@performanceClasses"></td>
                    }
                }
            </tr>
        }
    </table>
</div>